@charset "UTF-8";
html,body,ul,li,ol,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{margin:0;padding:0;}
fieldset,img,input,button{border:none;padding:0;margin:0;outline-style:none;}
ul,ol,s{list-style:none;}
input { padding-top:0; padding-bottom:0; font-family: "SimSun","宋体";}
select,input{vertical-align: middle;}
select,input,textarea{font-size: 12px;margin:0;}
textarea{resize:none;}
img{border: 0;vertical-align:middle;}
table{border-collapse: collapse;}
a{color:#666; text-decoration:none;}


body{
    font:12px/150% Arial,Verdana,"\5b8b\4f53";
    color:#666;
    background:#fff
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
.col-red{color:#c81623!important;}

.w{
    width: 1210px;margin:0 auto;
}


.fl {
    float:left
}
.fr {
    float:right

}
.al {
    text-align:left
}
.ac {
    text-align:center
}
.ar {
    text-align:right
}
.hide {
    display:none
}
#mask{
    display: none;
    width:100%;
    height:100%;
    position: fixed;
    background:rgba(0,0,0,.5);
    top:0;
    left:0;
    z-index: 999;
}
#box-v{
    display: none;
    width: 400px;
    height: 250px;
    background-color: white;
    position: fixed;
    top:50%;
    left: 50%;
    margin: -125px 0 0 -200px;
    z-index: 1000;
}
#box-v span{

    position: absolute;
    right: 10px;
    top:10px;
    font-size: 16px;
    cursor: pointer;


}

/*头部导航开始*/
.shortcut{
    height:30px;
    line-height: 30px;
    background-color: #f1f1f1;


}
.shortcut .dt,
.shortcut .for {
    padding: 0 20px 0 10px;
    position: relative;

}
.dt i,
.for i
{
    font:400 15px/15px "宋体";
    position:absolute;
    top:13px;
    right: 3px;
    height: 7px;
    overflow: hidden;
    width:15px;

}
.dt s,
.for s
{
    text-decoration: none;
    position: absolute;
    top:-8px;
    left:0;
}
.fr li{
    float:right;
    padding:0 10px;


}
.fr li a{
    text-decoration: none;
}
.fr li a:hover{
    color:gray;
}
.fr .line{
    width:1px;
    height: 12px;
    background-color: #ddd;
    margin-top: 9px;
    padding: 0;
}

.shortcut .jd{
    padding:0 20px 0 25px;


}
 .tel{
    padding:0 20px;
    position: absolute;
    width:15px;
    height:20px;
    background:url(../images/sprite.png)no-repeat;
     left:5px;
     top:5px;

}
 /*顶部banner*/
.topbanner{
    background-color: #8A25C6;
    display: block;
}
.topbanner .tp{
    position:relative;

}
.topbanner .tp img{
    border: 0;
    vertical-align: middle;
}

.topbanner .close-banner{
    position: absolute;
    right: 0;
    top: 5px;
    width: 19px;
    height: 19px;
    background:url(../images/close.png)no-repeat;

}
.topbanner  .close-banner a{
color: #666;
    text-decoration: none;
}
.close-banner:hover{
    background-position: bottom;
}
/*banner完成*/
/*logo*/
.clearfix .logo{
    width: 360px;
    height: 75px;
    background-color: pink;
    float: left;
    padding-top: 25px;
    background: url(../images/logo.png) no-repeat 0 25px;
    position: relative;
}
.clearfix .logo  .jd-a{
    display: block;
    width: 270px;
    height: 60px;
    text-indent: -2000em;

}
.clearfix .logo .dd11{
    position: absolute;
    width: 180px;
    height: 80px;
    background-color: pink;
    top: 10px;
    left: 168px;
}
/*搜索栏*/
.clearfix .search{
    width: 538px;
    height: 35px;
    float: left;
    margin-top: 25px;
}
.search input{
    width: 450px;
    height: 32px;
    border: 2px solid #B61D1D;
    padding-left: 4px;
    color: #666;
    font: 14px/32px "microsoft yahei";
    float: left;
}
.search button{
    width: 80px;
    height: 36px;
    background-color: #B61D1D;
    float: left;
    font: 16px/36px "microsoft yahei";
    color: #fff;
    cursor: pointer; /* 鼠标变成小手*/
}
/*最右购物车*/
.clearfix .car{
    width: 96px;
    padding-left: 43px;
    float: right;
    margin: 25px 65px 0 0;
    border: 1px solid #DFDFDF;
    line-height: 34px;
    position: relative
}
.clearfix .car a{
    text-decoration: none;
    color: #666;
}
.clearfix .car a:hover{
    color: #B61D1D;
}
.clearfix .car .icon1{
    position: absolute;
    top: 10px;
    left: 20px;
    width: 16px;
    height: 13px;
    background: url(../images/sprite.png) no-repeat -1px -59px;
}
.clearfix .car .icon2{
    font: 400 13px/13px simsun;
    position: absolute;
    top: 9px;
    right: 10px;
}
.clearfix .car .icon3{
    position: absolute;
    width: 16px;
    height: 14px;
    background-color: #C81623;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #fff;
    top: -6px;
    border-radius: 7px 7px 7px 0;
}
/*搜索栏下面文字*/
.clearfix .hotwords{
    width: 500px;
    padding: 7px 0;
    float: left;
}
.clearfix .hotwords a{
    margin-right: 6px;
    color: #666;
    text-decoration:none ;
}
.clearfix .hotwords a:hover{
    color: #C81623;
}
/*京东nav*/
.jd-nav{
    width: 100%;
    height: 44px;
    border-bottom: 2px solid #B1191A;
}
.jd-nav .dropdown{
    width: 210px;
    height: 44px;
    float: left;
    position: relative;
    z-index: 10;
    overflow: visible;
}
.jd-nav .dropdown .dt{
    height: 44px;
}
.jd-nav .dropdown .dt a{
    display: block;
    height: 44px;
    font: 400 15px/44px "microsoft yahei";
    background-color: #B1191A;
    color: #fff;
    padding-left: 10px;
    text-decoration: none;
}
.jd-nav .dropdown .dd{
    height: 465px;
    background-color: #C81623;
    margin-top: 2px;

}
.jd-nav .dropdown .items{
    height: 31px;
    line-height: 31px;
    border-left: 1px solid #B61D1D;
    padding-left: 10px;
    color: #fff;


}
.jd-nav .dropdown .items h3{
    font:400 15px/31px "微软雅黑";
    float: left;
}
.jd-nav .dropdown .items span{
    float: right;
    margin-right: 15px;
    font-family: "宋体";
    font-weight: 600;
}
.jd-nav .navitems{
    width: 680px;
    height: 44px;
    float: left;
}
.jd-nav .navitems li{
    float: left;

}
.jd-nav .navitems li a{
    display: block;
    color: #333;
    font: 400 15px/44px "微软雅黑";
    padding: 0 20px;
text-decoration: none;

}
.jd-nav .navitems li .new{
    background:url(../images/new.jpg)no-repeat right top;
}
.jd-nav .bike{
    width: 140px;
    height: 44px;
    background: url(../images/bike.jpg) no-repeat;
    float: right;
}
/*主要部分 外链：index目录*/
 .banner{
    position: relative;
}

 .banner a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 604px;
    background: url(../images/banner.jpg) no-repeat top center;

}
 .main{
     position: relative;
 }
 .slider{
     width: 730px;
     height: 453px;
     background-color: pink;
     margin: 12px 0 0 220px;
     float: left;
     position: relative;
 }
  .circle {
     position: absolute;
     bottom: 8px;
     left: 50%;
     margin-left: -66px;
 }
  .circle li{
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #3E3E3E;
      float: left;
      text-align: center;
      line-height: 18px;
      color: #fff;
      margin: 0 2px;
      cursor: pointer;
  }
  .arrow-1{
      position: absolute;
      width: 28px;
      height: 62px;
      top: 50%;
      margin-top: -31px;
      color: #fff;
      font: 500 18px/62px "宋体";
      text-align: center;
      background: rgba(0,0,0,.2);
      left:0;
  }
  .arrow-2{
      position: absolute;
      width: 28px;
      height: 62px;
      top: 50%;
      margin-top: -31px;
      color: #fff;
      font: 500 18px/62px "宋体";
      text-align: center;
      background: rgba(0,0,0,.2);
      right: 0;
  }
  .arrow{
      display: none;
  }
  .arrow-2:hover,.arrow-1:hover{
      background-color: #666;
  }
.new{
    width: 248px;
    height: 451px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 12px;
}
.new .jd-new{
    height: 200px;
    border-bottom: 1px dashed #E4E4E4;

}
.new .jd-new .dt{
    height: 43px;
    border-bottom: 1px dotted #E8E8E7; /*点线*/
    line-height: 43px;
}
.new .jd-new .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;

}
.new .jd-new .dt a{
    float: right;
    font: 13px/43px "宋体";
    margin-right: 15px;
    text-decoration: none;
    color: #666;
}
.new .jd-new .dt a:hover{
    color:#C81623;
;
}
.new .jd-new .dd ul{
    padding: 8px 0 0 15px;

}
.new .jd-new .dd li{
    line-height: 28px;
    color: #666;
}
.new .jd-new .dd a{
    text-decoration: none;
    color: #666;

}
.new .jd-new .dd a:hover{
color:#C81623;
;

}
.new .jd-new .dd li span:hover{
    color:#C81623;
}
.new .jd-new .dd li span {
    font-weight: 700;
    margin-right: 5px;
    color: #666;
}
 .lifeservi{
     height: 251px;
     overflow: hidden;
     width: 248px;
 }
.lifeservi .dt{
    height: 43px;
    border-bottom: 1px dotted #E8E8E7;
    line-height: 43px;
}
.lifeservi .dt h3{
    float: left;
    font: 14px/43px "microsoft yahei";
    color: #666;
    padding-left: 15px;
}
.lifeservi .dd ul{
    width:252px;
}
.lifeservi .dd ul li{
    width: 62px;
    height: 70px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    float: left;
    margin-left: -1px;
}
.lifeservi .dd ul li a{
    display: block;
    height: 70px;
    text-align: center;
    padding-top: 44px;
    position: relative;
    text-decoration: none;
}
.lifeservi .dd ul li span{
    color: #666;
}
.lifeservi .dd ul li i{
    position: absolute;
    top: 12px;
    left: 18px;
    width: 25px;
    height: 25px;
    background: url(../images/icon_lifeserv.png) no-repeat right top;
}
.lifeservi .dd .lifeservi-icon1 a i{
    background-position: right -25px;
}
.lifeservi .dd .song{
    background: url(../images/song.png) no-repeat right top;
}
/*底部新闻开始*/
.todays{
    position: relative;
}
.night{
    margin:10px 0 28px 0;
}
.night .night-r{
    width: 1000px;
    height: 160px;
    float: right;
}
.night .night-r ul{
    width:500%;
}
.night .night-r li{
    float: left;
   margin-right:1px;
}
/*底部*/

.slogen{
    height: 54px;
    padding: 20px 0;
    background-color: #f5f5f5;
    position: relative;
    margin-bottom: 15px;

}
.item{
    width: 302px;
    position: absolute;
    top: 20px;
    left: 50%;
}
.slogen1{
    margin-left: -608px;
}
.slogen2 {
    margin-left: -304px;
}

.slogen3 {
    margin-left: 2px;
}

.slogen4 {
    margin-left: 304px;
}
/*购物信息*/
.shopping dl{
    width:198px;
    float:left;
}
.shopping dt,
.coverge .dt {
    font-size: 16px;
    height: 28px;
    font-family: "微软雅黑";
    padding-top: 10px;
}
.shopping dd{
    height:20px;
}
.fooder .coverge{
    float: right;
    width: 210px;
    height: 165px;
    background: url(../images/china.png) no-repeat left bottom;
}
.shopping dd {
    height: 20px;
}
.coverage {
    float: right;
    width: 210px;
    height: 165px;
    background: url(../images/china.png) no-repeat left bottom;
}
.coverage .dd {
    margin-top: 10px;
}
.coverage p {
    line-height: 18px;
}
.look{
    text-align: right;
    margin-top: 5px;
}

.againw {
    border-top: 1px solid #E5E5E5;
    padding: 23px 0 30px 0;
    margin-top: 30px;
    text-align: center;
}
.links {
    height: 25px;
}
.links a {
    padding: 0 6px;
}
.copyright {
    line-height: 18px;
    margin-bottom: 10px;
}
.link{
    height:25px;
    text-align: center;
}
.link a{
   padding:0 6px;
}
.link a:hover{
    color:red;
}
.copyright {
    text-align: center;
}

.button{
    background-color: #f5f5f5;
}
.button .measage{
    text-align: center;
}